.tic-tac-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  height: 80vh;
}

.sqaure {
  border: 2px solid blue;
  float: left;
  font-size: 40px;
  height: 100px;
  padding: 0px;
  text-align: center;
  width: 100px;
  margin-right: -1px;
  margin-top: -1px;
  cursor: pointer;
}
